* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.color1 {
   background-color: #1F2937;
}

.hero, ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

ul {
    margin: 0;
    padding: 0;
    gap: 32px;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 200px;
    margin-top: 16px;
    margin-bottom: 64px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 250px;
    margin-top: 16px;
}

.header {
    display: flex;
    margin: 32px;
    justify-content: center;
    
}

.left {
    display: flex;
    flex-direction: column;
    margin: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    width: 400px; 
    color:#f9faf8;
    font-weight: 100;
}

h1.left {
    font-weight: 900;
}

.right {
    display: flex;
    padding: 32;
    margin-bottom: 64px;
    margin-top: 20px;
}

h1, p {
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px;
    text-align: center;
}

.text {
    margin: 8px;
    color: #1F2937;
}


.color2 {
    background-color: #E5E7EB;
    text-align: left;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    padding: 222px;
}

p.name {
    text-align: right;
    font-weight: bolder;
    margin-top: 32px;
}

.body2 {
    margin: 0;
    color: #E5E7EB;
    padding: 55px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.color3 {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 60px 80px;
    justify-content: space-between;
    align-items: center;
    gap: 444px;
}

.text2 {
    display: flex;
    flex-direction: column;
}

button.x2 {
    display: flex;
    background-color: transparent;
    color: white;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: flex-end;

}

button.x1 {
    background-color: #007BFF;      
    color: white;                   
    border: none;                  
    border-radius: 8px;
    padding: 6px 12px;            
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 250px;
    margin-top: 12px;
}


.footer {
    background-color: #1F2937;
    padding: 32px;
    color: #E5E7EB;
    text-align: center;
}